body {
	background-color: #000000;
	color: #FFFFFF;
	margin-left: 1em;
	margin-right: 1em;
}

.cool-box {
	background-color: #555555;
	padding: 0.5em;
	margin: 1em;
	border-color: #AAAAAA;
	border-width: 1px;
	border-radius: 0px;
	border-style: solid;
}

.tag-container {
	display: flex;
	flex-wrap: wrap;
	align-content: center;
}

.tag {
	padding: 0.3em;
	margin: 0.3em;
	border-color: #00FF00;
	border-width: 1px;
	border-radius: 0px;
	border-style: solid;
	color: #FFFFFF;
}

.post-thumbnail {
	padding: 0.3em;
	margin: 0.3em;
	border-color: #FFFFFF;
	border-width: 1px;
	border-radius: 0px;
	border-style: solid;
	color: #FFFFFF;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.img-container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
}

.post-thumbnail img {
	display: block;
	max-width:20em;
	max-height:10em;
	width: auto;
	height: auto;
}

.img-container img {
	display: block;
	max-height:15em;
	width: auto;
	height: auto;
	margin: 0.3em;
}

.link-with-logo {
	margin: 0.3em;
	border-color: #FFFFFF;
	border-width: 2px;
	border-style: solid;
	border-radius: 2em;
	display: flex;
	flex-direction: row;
}

.link-with-logo span {
	margin: 0.5em;
	margin-left: 0em;
	padding: 0em;
	font-size: 1em;
}

.link-with-logo img {
	margin: 0.25em;
	display: block;
	max-height:1.5em;
	width: auto;
	height: auto;
	border-radius: 50%;
}

.container-88-31 {
	margin: 0.5em;
	text-align: center;
	max-width: 30em;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
}

.container-88-31 img {
	width: 88px;
	height: 31px;
}

#post-features-container {
	display: flex;
	flex-direction: column;
}

a:link {
	color: #FFFFFF;
}

a:visited {
	color: #FFFFFF;
}

a:hover {
	color: #0000EE;
}

th {
	border-radius: 0px;
	border-color: #FFFFFF;
	border-width: 1px;
	border-style: solid;
	padding-left: 0.2em;
	padding-right: 0.2em;
}

td {
	border-radius: 0px;
	border-color: #FFFFFF;
	border-width: 1px;
	border-style: solid;
	padding-left: 0.2em;
	padding-right: 0.2em;
}